a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #0b28ce;
}

a:hover {
    text-decoration: underline;
}

.toolbar_button {
    cursor: pointer;
    color: black;
    background: #ddd;
    font-size: 12px;
    border: solid 1px #bbb;
    border-radius: 6px;
    padding: 3px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.toolbar_button:hover {
    background-color: #e4e4e4;
}


.toolbar_button_primary {
    color: white;
    background: #275bb6;
    border: solid 1px #2255BB;
}

.toolbar_button_primary:hover {
    background-color: #3b77e0;
}

hr {
    border: solid 0px white;
    height: 1px;
    margin: 16px 0px;
    background: #b9c8df;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 8px 0px;
}

.header-top {
    background-color: white;
    color: #597c9d;
    height: 39px;
    min-height: 39px;
    max-height: 39px;
    overflow: hidden;
    border-bottom: solid 1px #e4e4e4;
    line-height: 1.4;
}

.header-top>.main_title {
    margin: 0;
    font-size: 18px;
    margin: 8px 24px 0px 48px;
}

.header-top>.main_title>.subtitle {
    font-style: normal;
    font-size: 12px;
    margin-left: 3px;
    top: -5px;
    position: relative;
    color: #799cbd;
}

.header-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F4F4F4;
    height: 41px;
    min-height: 40px;
    max-height: 40px;
    margin: 0;
    border-bottom: solid 1px #e4e4e4;
}

.main-page-area {
    display: flex;
    flex-direction: row;
}

.main-page-area>.left-nav-panel {
    width: 250px;
    min-width: 250px;
    min-height: calc(100vh - 80px);
    border-right: solid 1px #e4e4e4;
    background: #fdfdfd;
    padding: 20px 20px;
}

.main-page-area>.content-panel {
    flex-grow:1; 
    padding:10px 40px;
}

.left-nav-panel ul { list-style: none; margin:0; padding:0; }
.left-nav-panel li { padding:0; padding-left:10px; margin:0; }
.left-nav-panel a:link, .left-nav-panel a:visited { color: #3c4689; }

.left-nav-panel li.selected { font-weight:normal; text-decoration: none; background-color: rgb(230, 232, 245); border-radius: 5px;}
.left-nav-panel li.selected a:link, .left-nav-panel li.selected a:visited { }

.left-nav-panel li.selected-children { border-left:none; padding-left:10px; }

.content-panel {
    padding:30px 60px !important;
}

.content-panel p { margin-bottom:18px; }
.content-panel h1 { margin-bottom:24px; }