<!DOCTYPE html>
<html>

<body>
    <main>
        <p style="margin:5px; font-family:helvetica; color:#7e92a7;">Docspaces Concept</p>

        <a href="#" onclick="createNewDiagram('mermaid'); return false;">New Mermaid Diagram</a>
        <a href="#" onclick="createNewDiagram('drawio'); return false;">New Draw.io Diagram</a>
        <ul>
            <% for(var i=0; i < diagrams.length; i++) { %>
                <li><a href="/diagrams/<%= diagrams[i].id %>/edit"><%= diagrams[i].name %></a></li>    
            <% } %>
        </ul>
    </main>
    <script>

        async function postData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });

            return response.json();
        }

        function createNewDiagram(diagramType) {
            var name = prompt();

            postData('/diagrams/new', { name: name, diagramType: diagramType }).then(function (data) {
                window.location = `/diagrams/${data.id}/edit`;
            });
        }
    </script>
</body>

</html>