<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css">
</head>
<body>
<a href="?edit">edit</a>
<hr/>
<%- output %>
</body>
</html>
