<html>
  <head>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.min.css"
    integrity="sha512-GzcoZD7y5zvBofYtImXPZaPVhoY7xLPt+ysmbPb/vU+quSKFkcngxaSrxuwprDZL4MALUqGFmnqCxQZqMozv1Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="/css/editor_split_layout.css">
    <script src="/js/editor_split_layout.js"></script>

<script>
    var require = {
        paths: {
            vs: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0/min/vs'
        }
    };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.min.js"
    integrity="sha512-6bIYsGqvLpAiEBXPdRQeFf5cueeBECtAKJjIHer3BhBZNTV3WLcLA8Tm3pDfxUwTMIS+kAZwTUvJ1IrMdX8C5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.nls.min.js"
    integrity="sha512-CCv+DKWw+yZhxf4Z+ExT6HC5G+3S45TeMTYcJyYbdrv4BpK2vyALJ4FoVR/KGWDIPu7w4tNCOC9MJQIkYPR5FA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" type="text/css" data-name="vs/editor/editor.main"
    href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.0/min/vs/editor/editor.main.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.js"
    integrity="sha512-BtSZPhzoyN8kq1axY6cgOFPSgLJgFwvAZ3WxeDGxEFXeFcFuK2s7Hr+zF75npVHASUY1dxudAfIVzwmgdR89Bw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<meta http-equiv="content-security-policy" content="">

  </head>
  <body>

    <div class="wrapper">
        <div class="top-panel" style="padding:3px 10px; margin:0;">
            <p style="margin:5px; font-family:helvetica; color:#7e92a7;">Docspaces Concept / Mermaid Editor</p>

                <form method=POST>
                    <input type=hidden id="save-content" name="content" />
                    <button
                    style="position:absolute; background:#eaeaea; border:solid 1px #DADADA; border-radius: 5px; top:30px; right:130px; padding:5px 18px;"
                    id="btnSave">Save</button>
                </form>
                <button
                style="position:absolute; background:#eaeaea; border:solid 1px #DADADA; border-radius: 5px; top:30px; right:50px; padding:5px 18px;"
                id="btnClose">Exit</button>

        </div>
        <div class="bottom-panel">

            <div class="split-panel-container">
                <div class="split-panel-container-left" style="width:50%">
                    <div style="width:100%; height:100%;" id="editor"></div>
                </div>
                <div class="split-panel-container-resizer" id="split_view_resize_handle"></div>
                <div class="split-panel-container-right" style="overflow: scroll;">

                    Preview area

                </div>
            </div>

        </div>
    </div>



    <script>

        let editor = null;

        document.getElementById('btnSave').addEventListener('click', function () {
            document.getElementById('save-content').value = editor.getValue();
        });

        var originalData = '';

        httpGet('/pages/<%= page.id %>/fetch').then(function (data) {

            originalData = data.data;

            editor = monaco.editor.create(document.getElementById('editor'), {
                value: data.data, // Empty by default, we'll load from the api
                automaticLayout: true,
                scrollBeyondLastLine: false,
                language: 'markdown',
                minimap: {
                    enabled: false
                },
                folding: false
            });

        });

        async function httpGet(url = '', data = {}) {

            const response = await fetch(url, {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                redirect: 'follow',
                referrerPolicy: 'no-referrer'
            });

            return response.json();
        }

    </script>


  </body>
</html>